services:
  client:
    build:
      context: client
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
    volumes:
      - ./client:/app
      - /app/node_modules

  server:
    build:
      context: server
      dockerfile: Dockerfile
      no_cache: true
    ports:
      - 8000:8000
    restart: unless-stopped
    env_file:
      - server/.env
